body {
    font-family: sans-serif;
}
.x{
    color: red;
    font-size: 20px;
}
.y{
    color: green;
    font-size: 20px;
}
.z{
    color: purple;
    font-size: 20px;
}
.a{
    color: orange;
    font-size: 20px;
}
.s{
    color: yellow;
    font-size: 20px;
}
.s::before{
    content: url("👉");
    height: 10px;
}
.x::before {
    content: url("👉");
    width: 10px;
    height: 10px;
}

.y::before {
    content: url("👉");
width: 10px;
    height: 10px;
}
.z::before{
     content: url("👉");
width: 10px;
    height: 10px;
}
.a::before{
     content: url("👉");
width: 10px;
    height: 10px;
}
.link-header{
     display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background-color: ;
    
}
.xy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: 21px;
}

